*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

.currencyTypeForm, .opction {
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="number"],
select {
  width: 100%;
  margin-top: 8px;
  color: #222;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #222;
  border-radius: 4px;
}

/* Optional: Add some styling for better visual appeal */
.container {
  background-color: #333;
  opacity: 0.7;
  padding: 20px;
  color: #fff;
}

.btn{
  width: 100px;
  margin: auto;
  border: none;
  background-color: rgb(12, 96, 206);
  color: #fff;
  padding: 10px 16px;
  border-radius: 1rem;
}

